.contactsItem {
    background-color: #585a69;
    border-radius: 10px;
    padding: 20px 10px 10px;
    width: 32%
}
.userInfo {
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.userPhoto {
    padding: 3px;
    border: 3px solid #dcfc34;
    border-radius: 50%;
    width: fit-content;
}
.userPhoto img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.name, .phone, .age { color: #c9c8d6; }
.age {
    font-family: 'Bai-Light';
    margin: 5px 0;
    font-size: 12px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
    margin: 30px 0 0;
}
.edit, .delete {
    background-color: #87889a;
    color: #a6a8b6;
    font-size: 14px;
    padding: 8px 20px;
    width: 50%;
    border-radius: 5px;
    transition: all .2s;
}
.edit:hover {
    background-color: rgb(110, 206, 110);
    box-shadow: 0 0 10px rgb(110, 206, 110);
    color: #e0e2e6;
}
.delete:hover {
    background-color: #f26659;
    box-shadow: 0 0 10px #f26659;
    color: #e0e2e6;
}