.pageContainer {
  display: flex;
  justify-content: space-between;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 100vh;
  padding: 20px 40px 50px;
}
.userInfo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.userInfo img {
  width: 50px;
  height: 30px;
  border-radius: 5px;
}
.name {
  margin: 0 55px 0 10px;
  color: #c9c8d6;
}
.userInfo button {
  height: 30px;
  border: 2px solid #dcfc34;
  background-color: #dcfc34;
  padding: 0 15px;
  border-radius: 5px;
  font-size: inherit;
  transition: all .2s;
}
.userInfo button:hover { box-shadow: 0 0 10px #dcfc34; }

.contactsSection {
  background-color: #39374c;
  flex-grow: 1;
  max-height: 92%;
  margin: 40px 0 0;
  border-radius: 15px;
  padding: 40px 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 36px;
  font-family: 'Bai-Bold';
  color: #c9c8d6;
}
.add {
  height: 40px;
  background: none;
  border: 2px solid #dcfc34;
  padding: 0 20px ;
  border-radius: 5px;
  color: #dcfc34;
  font-size: inherit;
  transition: all .4s;
}
.add:hover {
  background: #dcfc34;
  box-shadow: 0 0 10px #dcfc34;
  color: #39374c;
}
.contactsList {
  display: grid;
  column-gap: 15px;
  row-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  margin: 25px 0 0;
  overflow-y: scroll;
  height: inherit;
  max-height: inherit;
}
.contactsList > * { width: 1fr;}